{% extends "base" %}
{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}
{% block body %}

<div id="chat-box-wrapper" hx-ext="ws" ws-connect="/chat/{{ name }}">
    <h5>Chat Room</h5>
    <p>Chatting as: <span id="username">{{ name }}</span></p>
    <div id="chat-box" hx-ws="receive">

    </div>
    <form id="chat-input" ws-send ws-target="#echo-list">
        <input id="chat-text" name="msg">
        <input id="chat-send" type="button" onclick="sendChat()" text="Send">
    </form>
    <script>
        function sendChat() {
            let form = document.getElementById("chat-input");
            form.submit();
            form.reset();
            return false;
        }
    </script>
</div>

{% endblock %}
