{% extends "base" %}
{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}
{% block body %}

<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
<div id="chat-box-wrapper" hx-ext="ws" ws-connect="/chat">
    <p>echo chat:</p>
    <div id="chat-box" hx-ws="receive">

    </div>
    <form id="chat-input" ws-send ws-target="#echo-list">
        <input id="chat-text" name="msg">
        <input id="chat-send" type="button" onclick="sendChat()" text="Send">
    </form>
    <script>
        function sendChat() {
            let form = document.getElementById("chat-input");
            form.submit();
            form.reset();
            return false;
        }
    </script>
</div>

{% endblock %}
