{% extends "base" %}
{% block title %}Chat{% endblock %}
{% block user %}{{ name }}{% endblock %}
{% block header %}Chat{% endblock %}
{% block body %}

<div id="chat-box-wrapper" hx-ext="ws" ws-connect="/chat/{{ name }}">
    <div id="chat-box" hx-ws="receive"></div>
    <form id="chat-input" ws-send autocomplete="off">
        <input id="chat-text" name="msg" placeholder="type here.">
        <input id="send-btn" type="submit" value="Send">
    </form>
    <script>
        let form = document.getElementById("chat-input");
        form.addEventListener('submit', sub);
        form.addEventListener('htmx:wsAfterSend', clear)

        function sub(evt) {
            evt.preventDefault();
        }

        function clear(evt) {
            console.log("clear triggered.");
            let form = document.getElementById("chat-input");
            form.reset();
        }
    </script>
</div>

{% endblock %}
