{% extends "base" %}
{% block title %}Register{% endblock %} 
{% block header %}Register{% endblock %} 
{% block body %}
    <form class="login" method="post">
        <input id="username" type="text" name="username" placeholder="Username"><br>
        <input id="password" type="password" name="password" placeholder="Password"><br>
        <input class="button" type="submit" name="submit" value="Register"><br>
    </form>
    {% if fail %}
    <p id="error-msg" style="color:red;">Login Failed.</p>
    {% endif %}
{% endblock %}