{% extends "base" %}
{% block title %}Register{% endblock %} 
{% block header %}Register{% endblock %} 
{% block body %}
    <form method="post">
        <label for="username">Username:</label><br>
        <input id="username" type="text" name="username"><br>
        <label for="password">Password:</label><br>
        <input id="password" type="password" name="password"><br>
        <input type="submit" name="submit"><br>
    </form>
    <p id="error-msg" style="color:red; display:none;">Registration Failed.</p>
    <script>
        const params = new URLSearchParams(window.location.search);
        const fail = params.get("fail");

        if(fail) {
            document.getElementById("error-msg").style["display"] = "block";
        }
    </script>
{% endblock %}